.logo {
    display: initial;
    /*prevent logo from shrink*/
    flex-shrink: 0;
    margin: 0;
    margin-right: 10px;
}

.logo img {
    display: initial;
    width: 90px;
    height: auto;
}

@media screen and (max-width: 525px){
    .logo img {
        display: none;
    }
}