.sections {
    height: 80px;
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 2;
    top: 34px;
    /*we will listen to the page scroll action to change this*/
    background-color: rgba(255,255,255,0);
}

.nav-background-grey {
    color: rgb(70,70,70) !important;
}

.back-top {
    /*background-color: grey;*/
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 80px;
    right: 50px;
    font-size: 30px;
    line-height: 40px;
    color: white;
    text-align: center;
    display: none;
    border-radius: 20px;
    font-weight: bold;
    background-size: cover;
}

.back-top:hover {
    background-color: white;
}
