.sections {
    height: 100px;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 50px;
    /*we will listen to the page scroll action to change this*/
    background-color: rgba(255,255,255,0);
}