nav.navigation {
    background-color: rgba(0, 0, 0, 0);
}

/*nav.navigation ul li {*/
/*color: white;*/
/*}*/

/*nav.navigation ul li a:hover {*/
/*color: #ff4964;*/
/*}*/

.navigation ul {
    padding: 0;
}

.navigation .level0 > .level-top:hover {
    color: #8d131c;
}

/*.navigation img{*/
/*height: 20px;*/
/*}*/

ul.top-menu {
    list-style: none;
    display: flex;
    margin-top: 5px;
    margin-left: 45px;
}

.top-menu li a {
    color: grey;
    font-size: 15px;
    font-weight: initial;
    white-space: nowrap;
}

.top-menu .menu-info li a {
    font-size: 13.5px;
}

/*@media screen and (min-width: 767px){*/
.top-menu li a:hover {
    color: #e70012 !important;
}

/*}*/

.top-menu-wrapper {
    margin-right: 50px;
    position: relative;
}

.menu-info.active {
    display: flex;
    color: #b4b4b4;
}

.menu-info {
    position: absolute;
    top: 60px;
    left: 0;
    display: none;
    z-index: 2;
    margin-top: 10px;
    /*justify-content: space-between;*/
}

/*.menu-info::before {*/
/*content: "";*/
/*width: 100%;*/
/*background-color: yellow;*/
/*}*/

.menu-info-cover {
    position: fixed;
    min-height: 270px;
    top: 114px;
    width: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    /*height: 0;*/
    /*display: none;*/
}

/*.menu-info-cover hr {*/
    /*margin-top: 0;*/
/*}*/

.menu-info .submenu {
    margin-right: 100px;
    display: flex;
    justify-content: space-around;
}

.menu-info .submenu ul {
    margin-right: 60px;
    /*width: 100px;*/
}

.menu-image {
    background-size: cover;
    /*width: 300px;*/
    height: 140px;
}

.menu-image .menu-tag-img {
    max-width: initial;
}

.Brand-container {
    position: absolute;
    bottom: -26px;
    left: 0;
    width: 100%;
    top: 200px;
}

.Brand-container .Brand-title {
    color: rgb(157, 157, 157);
    font-size: 12px;
    border-top: solid 1px #ccc;
    padding: 5px 0;
}

.Brand-container .Brand-content {
    overflow: hidden;
    min-width: 1000px;
}

.Brand-container .Brand-content a {
    color: red;
    display: block;
    float: left;
    font-size: 12px;
    width: 100px;
    margin-right: 60px;
}