<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="touch1byone" frontName="touch1byone">
            <module name="TouchShop_Touch1byone"/>
        </route>
    </router>
</config>