/*pagination overwrite*/

.pagination {
    width: 100%;
}

.page-link {
    border: none;
}

li.active > span {
    padding: 8px;
}

#pagination-review {
    display: flex;
    justify-content: center;
    align-items: center;
}