.reviews-item {
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.reviews-media {
    display: flex;
}

.reviews-media-item {
    display: inline-block;
    margin-right: 20px;
    width: 200px;
    height: 120px;
    /*background-color: yellow;*/
    /*background-image: url("http://192.168.0.152/magento2/pub/media/wysiwyg/banner.jpg");*/
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.reviews-media-item img {
    width: max-content;
}

.reviews-media-item video {
    height: 100%;
    width: 100%;
}

.reviews-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.rating-background .star-five {
    color: grey;
    border-bottom: 7px solid grey;
}

.rating-background .star-five:before {
    border-bottom: 8px solid grey;
}

.rating-background .star-five:after {
    color: grey;
    border-bottom: 7px solid grey;
}

.star-five {
    margin: 5px 0;
    position: relative;
    display: block;
    color: red;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-bottom: 7px solid red;
    border-left: 10px solid transparent;
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
}

.star-five:before {
    border-bottom: 8px solid red;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -4.5px;
    left: -6.5px;
    display: block;
    content: '';
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);

}

.star-five:after {
    position: absolute;
    display: block;
    color: red;
    top: 0.3px;
    left: -10.5px;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-bottom: 7px solid red;
    border-left: 10px solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
    content: '';
}

.reviews-heading > * {
    display: inline-block;
    margin: 20px 0;
}

.reviews-customize ul {
    list-style: none;
    padding: 0;
}

.rating-result ul {
    /*font-size: 0.1px;*/
}

.rating-result ul li {
    display: inline-block;
}

.reviews-rating {
    position: relative;
}

.reviews-rating .rating-result:last-child {
    position: absolute;
    top: 0;
    left: 0;
}

.reviews-flex-text {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reviews-flex-text .reviews-details {
    align-self: flex-end;
}

p.reports-content {
    max-lines: 3;
}


