
.details-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*padding: 10px 150px;*/
}

.details-main ul {
    list-style: none;
}

.data.item.title {
    font-size: 20px;
    align-self: center;
    position: absolute;
    top: -31px;
}

.data.item.content {
    display: block !important;
}

.details-main > .item.title {
    margin: 30px 0;
    border-bottom: 1px solid rgba(0,0,0, 0.11);
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}


.data.item.title a.details-tab {
    color: #bababa;
    pointer-events: none;
    border-bottom: 3px solid #e70012;
    top: 2px;
}

.details-menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: rgba(255,255,255);
    width: 1280px;
    padding: 20px 0;
}

.details-menu ul li a {
    color: grey;
    cursor: pointer;
}

.details-menu ul li a:active

.details-menu ul li:not(:first-child) {
    border-left: 1px solid grey;
}


/*.details-up-content-cover {*/
    /*position: absolute;*/
    /*background-color: #a0a0a0;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/


.details-main .price-box.price-final_price {
    display: none;
}

.page-main .column.main .details-main .products-grid li.product-item {
    margin-left: calc((100% - 4 * 24.7%) / 3);
}

.page-main .column.main .details-main .block.related .products-grid li.product-item:nth-child(4n+1) {
    margin-left: calc((100% - 4 * 24.7%) / 3);
}

.page-main .column.main .details-main .block.related .products-grid li.product-item:nth-child(3n+1) {
    margin-left: calc((100% - 4 * 24.7%) / 3);
}

.sections.back-normal-flow {
    position: absolute;
}

.page-layout-1column .details-main .products-grid .product-item {
    width: 24.5%;
}

.details-main .product-item-info.related-available {
    margin: 0 auto;
    padding: 9px 35px;
}

.details-main .product-item-info {
    border: 1px solid #eaeaea;
}

.details-menu.fix-top {
    position: fixed;
    top: 34px;
    font-weight: bold;
    width: 100%;
    margin: 0 auto;
    z-index: 2;
}

.product.info.detailed .product.attribute.description p {
    display: block !important;
}


.page-main .column.main .block.related .products-grid li.product-item:nth-child(3n+1) {
    margin-left: calc((100% - 3 * 24.7%) / 2);
}