.product-item-info {
    position: relative;
}

/*.product-item-bargain {*/
    /*position: absolute;*/
    /*top: 2px;*/
    /*left: 10px;*/
    /*z-index: 3;*/
/*}*/

.product-item-hot {
    position: absolute;
    right: 0px;
    bottom: 160px;
    z-index: 3;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    background-color: #9e1b1e;
    color: white;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
}