.product-item-info {
    position: relative;
    margin: 5px;
    padding: 5px;
}

/*.product-item-bargain {*/
    /*position: absolute;*/
    /*top: 2px;*/
    /*left: 10px;*/
    /*z-index: 3;*/
/*}*/

.product-item-hot {
    position: absolute;
    right: 0px;
    z-index: 2;
    width: 80px;
    height: 32px;
    /*border-radius: 20px;*/
    background-color: #e70012;
    color: white;
    text-align: center;
    font-size: 12px;
    line-height: 32px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

li.product-item .hover-prevent:hover {
    margin: 5px;
    padding: 5px;
    border: none;
    z-index: 1;
}