<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Theme\Block\Html\Topmenu" type="TouchShop\Touch1byone\Plugin\Block\Topmenu"/>
    <type name="Magento\Cms\Model\Wysiwyg\Config">
        <plugin name="add_wysiwyg_data" type="TouchShop\Touch1byone\Plugin\Block\WysiwygConfig" sortOrder="30"/>
    </type>
    <preference for="Magento\ConfigurableProduct\Model\Product\VariationHandler"
                type="TouchShop\Touch1byone\Plugin\VariationHandler"/>
    <preference for="Mageplaza\Blog\Model\ResourceModel\Author" type="TouchShop\Touch1byone\Plugin\Block\Author"/>
    <preference for="Magento\Customer\Block\Form\Login" type="TouchShop\Touch1byone\Block\Login"/>
    <preference for="Magento\Customer\Block\Form\Register" type="TouchShop\Touch1byone\Block\Register"/>
    <preference for="Mageplaza\Blog\Block\Post\Listpost" type="TouchShop\Touch1byone\Block\Listpost"/>
    <type name="Mageplaza\Blog\Block\Post\RelatedPost">
        <plugin name="modify_title_to_related" type="TouchShop\Touch1byone\Plugin\Block\ModifyRelatedTitle" sortOrder="30"/>
    </type>
</config>