.warranty-container {
    background-color: white;
    width: 1149px;
    margin: 10px auto;
    padding: 20px;
    color: grey;
    margin-top: 270px;
    margin-bottom: -40px;
    padding-bottom: 60px;
}

.warranty-blank {
    width: 100%;
    position: absolute;
    top: 34px;
    background-color: white;
    z-index: -1;
    left: 0;
    height: 80px;
}

.warranty-back {
    width: 100%;
    position: absolute;
    top: 114px;
    background-color: #f3e9df;
    z-index: -1;
    left: 0;
    height: 270px;
}

.warranty-back img {
    display: block;
    margin: 0 auto;
    width: 1189px;
    position: absolute;
    left: 0;
    height: 270px;
}

.warranty-back h2 {
    font-size: 30px;
    position: absolute;
    top: 80px;
    right: 600px;
}