.warranty-container {
    background-color: white;
    /*width: 1149px;*/
    /*margin: 10px auto;*/
    padding: 20px;
    color: grey;
    margin-top: 15vw;
    margin-bottom: -40px;
    padding-bottom: 60px;
}

.warranty-blank {
    width: 100%;
    position: absolute;
    top: 34px;
    background-color: white;
    z-index: -1;
    left: 0;
    height: 80px;
}

.warranty-back {
    width: 100%;
    position: absolute;
    top: 114px;
    /*background-color: #f3e9df;*/
    z-index: -1;
    left: 0;
    /*height: 270px;*/
}

.warranty-back img {
    display: block;
    margin: 0 auto;
    /*width: 1189px;*/
    position: absolute;
    left: 0;
    /*height: 270px;*/
}

.warranty-back h2 {
    position: absolute;
    top: 5vw;
    right: 22vw;
    font-size: 2vw;
}

.news_detail {
    color: #444444;
}

.news_detail p {
    font-size: 16px;
    color: black;
}


@media screen and (max-width: 525px){
    .warranty .news_detail > p:first-child {
        text-align: center;
        padding: 20px 0;
        margin-bottom: 0;
    }

    .warranty .news_detail > p:first-child strong span{
        font-size: 16px !important;
    }
}