<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CatalogWidget\Block\Product\ProductsList"
                type="TouchShop\ProductTool\Block\Product\ProductsList"/>
    <preference for="Magento\Catalog\Block\Product\ListProduct"
                type="TouchShop\ProductTool\Block\Product\ListProduct"/>
    <type name="Magento\Catalog\Block\Product\ProductList\Toolbar">
        <plugin name="TouchShop_ProductTool::customToolbar"
                type="TouchShop\ProductTool\Plugin\Model\Toolbar"/>
    </type>
</config>