.footer-links {
    color: white;
    display: flex;
}

.footer-links h1 {
    border-bottom: white 1px solid;
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-size: 16px;
}

.footer-links-about, .footer-links-support {
    margin-right: 60px;
}

.footer-links ul li {
    margin-bottom: 15px;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    color: #8d131c;
}