.blog-gallery {
    height: 300px;
    width: 100%;
    margin-bottom: 40px;
    position: absolute;
    left: 0;
}

.post-short-description p {
    height: 40px;
}

.post-list-content {
    margin-top: 270px;
}

.mpblog-post-index.page-layout-2columns-right .sidebar-main {
    margin-top: 270px;
}