.blog-gallery {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-image: url("https://bpic.588ku.com/element_banner/20/18/04/f45606ec4edc5de2febadb606feaf50b.jpg");
    margin-bottom: 40px;
}

.post-short-description p {
    height: 40px;
}