.blank {
    position: absolute;
    width: 100%;
    height: 80px;
    top: 34px;
    background-color: white;
    left: 0;
    z-index: -1;
}

form.power-user-form {
    color: grey;
    margin-top: 270px;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
}

form.power-user-form > h2 {
    padding-top: 50px;
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
}

form.power-user-form > .input-container > label {
    font-size: 16px;
    color: black;
    margin-top: 40px;
    margin-bottom: 0;
    display: inline-block;
}

form.power-user-form > .input-container {
    /*text-align: center;*/
    /*width: 50%;*/
    color: #444444;
    /*margin: 0 auto;*/
}

form.power-user-form .input-container.input-container-full {
    margin-bottom: 0;
}

form.power-user-form .input-container.input-control-group {
    width: 50%;
    /*margin: 0 auto;*/
}

.power-user-description h2 {
    font-size: 16px;
    color: black;
}

.power-user-banner {
    width: 100%;
    position: absolute;
    left: 0;
    top: 114px;
}

.power-user-banner img {
    width: 100%;
}

.power-user-banner h2 {
    font-size: 2vw;
    position: absolute;
    top: 5vw;
    right: 20vw;
}

.input-container-title {
    margin-top: 20px;
    color: black;
    font-size: 16px;
    font-weight: normal;
}

.input-container-title.form-title {
    /*text-align: center;*/
    margin-top: 50px;
    margin-bottom: 0;
}

.input-container-title:last-child {
    text-align: center;
}

.input-container-title p {
    /*text-indent: 25px;*/
    margin: 20px 0;
}

div.form-action-btn {
    display: flex;
    justify-content: flex-end;
}

div.form-action-btn button {
    border: none;
    border-radius: 16px;
    background-color: #e70012;
    color: white;
    width: 100%;
    font-size: 12.8px;
}

div.form-action-btn button:hover {
    background-color: #8d131c;
}

div.input-checkbox-container div {
    display: flex;
    align-items: center;
}

.form-action-btn {
    margin-top: 20px;
}

.form-action-control-container {
    width: 98%;
    margin: 0 auto;
}

.form-action-control-container > div {
    margin: 20px 0;
    /*padding: auto 0;*/
}

.form-action-control-container .power-user-pwd1, .form-action-control-container .power-user-pwd2 {
    display: none;
}

#powerUserEmail:focus, #powerUserPwd1:focus, #powerUserPwd2:focus {
    box-shadow: 0 0 3px 1px #0a6c9f;
}

.form-action-control-container div.control input {
    margin-left: 0;
    border-radius: 16px;
}


.power-user-hint {
    color: red;
}

.form-action-control-container label {
    padding-left: 4px;
}

.form-action-control-container input {
    border-radius: 16px;
    font-size: 12.8px;
}

.power-user-form span {
    color: red;
}

.des-title {
    font-size: 16px;
    color: black;
}

.input-radio-container {
    /*padding-top: 10px;*/
    display: flex;
    justify-content: flex-start;
    /*flex-direction: column;*/
    padding-left: 5px;
}

.input-radio-container div {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.input-radio-container div:not(:last-child) {
    margin-right: 20px;
}

.hint {
    color: red;
    display: none;
}

.power-user-description h2 {
    font-size: 14px;
    color: black;
    font-weight: 400;
    margin: 10px 0;
}

@media screen and (max-width: 525px) {
    .main .blank {
        display: none;
    }

    .main .power-user-banner {
        position: initial;
    }

    .main .power-user-banner img {
        max-width: initial;
        height: 150px;
        width: auto;
    }

    .main form.power-user-form {
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .main .form-action-control-container {
        width: 100%;
        padding-left: 0;
    }

    .input-checkbox-container {
        display: initial;
    }

    .input-radio-container {
        display: initial;
    }

    form.power-user-form .input-container.input-control-group {
        width: 100%;
    }

}

.triangle-facing-down {
    display: inline-block;
    border-left: 2.4px solid #e70012;
    border-bottom: 2.4px solid #e70012;
    width: 8px;
    height: 8px;
    transform: rotate(-45deg);
    margin-right: 8px;
    margin-top: 4px;
    cursor: pointer;
}

.pu-title {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/*.triangle-facing-up {*/
    /*display: inline-block;*/
    /*border-left: 2.4px solid #e70012;*/
    /*border-bottom: 2.4px solid #e70012;*/
    /*width: 8px;*/
    /*height: 8px;*/
    /*margin-right: 8px;*/
    /*margin-top: 4px;*/
    /*cursor: pointer;*/
    /*transform: rotate(135deg);*/
/*}*/

