form {
    color: grey;
}

.power-user-banner {
    width: 100%;
    position: relative;
}

.power-user-banner img {
    width: 100%;
}

.input-container-title {
    margin-top: 20px;
}



div.form-action-btn {
    display: flex;
    justify-content: flex-end;
}

div.form-action-btn button:first-child {
    background-color: rgb(102, 102, 102);
    border: none;
    border-radius: 25px;
    color: white;
    margin: 0 5px;
    width: 120px;
}

div.form-action-btn button:first-child:hover {
    background-color: rgb(64, 64, 64);
}

div.form-action-btn button:last-child {
    margin: 0 5px;
    border: none;
    border-radius: 25px;
    background-color: rgb(2, 167, 225);
    color: white;
    border: none;
    width: 120px;
}

div.form-action-btn button:last-child:hover {
    background-color: rgb(36, 125, 225);
}

div.input-checkbox-container div {
    display: flex;
    align-items: center;
}

.form-action-btn {
    margin-top: 20px;
}

.form-action-control-container {
    width: 50%;
}

.form-action-control-container > div {
    margin: 20px 0;
    /*padding: auto 0;*/
}

.form-action-control-container .power-user-pwd1, .form-action-control-container .power-user-pwd2 {
    display: none;
}

#powerUserEmail:focus ,#powerUserPwd1:focus ,#powerUserPwd2:focus {
    box-shadow: 0 0 3px 1px #0a6c9f;
}

.form-action-control-container div.control input {
    margin-left: 0;
}

.power-user-hint {
    color: red;
}

.form-action-control-container label {
    padding-left: 4px;
}