<link rel="stylesheet" href="../../../../../ProductTool/view/frontend/web/css/details.css">
<link rel="stylesheet" href="../css/PowerUser.css">
<div class="des-title">FAQ</div>
<div class="power-user-description">
    <div data-bind="foreach: data">
        <div class="pu-title" data-bind="event: {click: $parent.toggleDes}">
        <span class="faq-toggle triangle-facing-down" data-bind=" style: {transform: degree}"></span><h2 data-bind="text: title"></h2>
        </div>
        <p data-bind="text: description, visible: isVisible"></p>
    </div>
</div>
