<link rel="stylesheet" href="../../../../../../../design/frontend/TouchShop/Peanut/Magento_Theme/web/css/topmenu.css">
<link rel="stylesheet" href="../../../../../../../design/frontend/TouchShop/Peanut/Magento_Theme/web/css/sections.css">
<link rel="stylesheet" href="../../../../../ProductTool/view/frontend/web/css/details.css">
<link rel="stylesheet" href="../css/PowerUser.css">
<div class="des-title">FAQ</div>
<div class="power-user-description">
    <div data-bind="foreach: data">
        <div class="pu-title" data-bind="event: {click: $parent.toggleDes}">
        <span class="faq-toggle triangle-facing-down" data-bind=" style: {transform: degree}"></span><h2 data-bind="html: title"></h2>
        </div>
        <p data-bind="html: description, visible: isVisible" class="pu-des"></p>
    </div>
</div>
