/*global-setting*/

body {
    color: grey;
}

* {
    margin: 0;
    padding: 0;
}

/*header*/

/*div.section-items.nav-sections-items:nth-child(2) {*/
/*max-width: 1280px;*/
/*margin: 0 auto;*/
/*}*/

.header.panel > .header.links > li.customer-welcome {
    display: none;
}

div.sections.nav-sections {
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 0;
    z-index: 3;
}

div.section-items.nav-sections-items {
    margin-top: 20px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

div.section-item-content.nav-sections-item-content {
    display: flex !important;
    align-items: center;
}

div.panel.header {
    display: flex;
    align-items: center;
    height: 50px;
    color: white;
    justify-content: flex-end;
}

.page-header {
    position: fixed;
    width: 100%;
    /*background-color: #8d131c;*/
    background-color: #333;
    z-index: 4;
    top: 0;
}

.greet.welcome span {
    color: white;
}

@media screen and (max-width: 767px) {
    .block.block-search {
        margin-top: 0;
    }

    #search_mini_form #searchInput {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .block-search .label {
        order: 2;
    }

    .block-search .label::before {
        color: white;
        font-size: 16px;
        cursor: pointer;
    }

    .block-search .control {
        border-top: none;
        margin: 5px;
    }

    .page-header {
        border-bottom: none;
    }

    .small-menu {
        width: 20px;
        height: 20px;
        background-size: cover;
        cursor: pointer;
        position: absolute;
        left: 20px;
    }

    /*strong.logo {*/
    /*display: none;*/
    /*}*/
    /*#store.links {*/
    /*display: none;*/
    /*}*/
    .sections.nav-sections {
        display: none;
    }

    .nav-sections-item-content {
        width: 0;
    }

    .nav-sections {
        overflow: initial;
        /*left: initial;*/
    }

    .section-item-title.nav-sections-item-title.active {
        display: none;
    }

    .section-item-title .nav-sections-item-title {
        display: none;
    }

    #store\.links {
        display: none !important;
    }

    .navigation ul.top-menu {
        flex-direction: column;
    }

    nav.navigation {
        position: fixed;
        top: 50px;
        left: -20px;

    }

    nav.navigation * {
        transition: all ease 1s;
    }

    .top-menu-wrapper {
        background-color: #8d131c;
        display: flex;
        flex-direction: row;
    }

    .top-menu li a {
        color: white !important;
        padding-right: 15px;
    }

    nav .top-menu li a:hover {
        background-color: #6e1018;
        ccolor: white !important;
    }

    .top-menu-wrapper .menu-info {
        top: 0;
        left: 0;
        position: initial;
    }

    .menu-info-cover {
        display: none !important;
    }

    .page-h-cards {
        flex-direction: column;
    }

    .page-h-cards .page-h-card {
        width: 384px;
        margin: 10px auto;
        margin-top: 18px;
    }

    .page-footer {
        background-color: black;
    }

}

/*.block-search .label::before {*/
/*color: initial;*/
/*}*/

/*main content*/

main.page-main {
    margin-top: 160px;
    /*max-width: 1920px;*/
    padding: 0;
}

/*cms widget 1byOne-home-page*/

.block-static-block {
    max-width: 1280px;
    margin: 0 auto;
}

.page-cards-container {
    margin-top: 33px;
    width: 100%;
}

.page-h-cards {
    /*in order to show shadow-bottom , add 10px to height , less 10px to margin-bottom*/
    padding: 0;
    /*height: 210px;*/
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 50px;
}

.page-h-cards > div {
    /*background-color: grey;*/
    /*width: 400px;*/
    /*box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.1);*/
    cursor: pointer;
}

.page-h-cards > div:hover {
    box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.25);
}

.page-cards-container div.page-cards-title {
    display: flex;
    justify-content: center;
}

div.page-cards-title h1 {
    margin: 20px 0 70px 0;
    border-bottom: 2px solid red;
}

.page-h-card {
    width: 384px;
    height: 378px;
    background-color: white;
    position: relative;

}

.page-h-card > div {
    height: 70%;
    background-color: #f2f2f2;
}

.page-h-card h1 {
    font-size: 18px;
    color: red;
    margin: 5px 0;
    font-weight: bold;
}

.page-h-card p {
    font-size: 12px;
    width: 80%;
}

.page-h-card button {
    position: absolute;
    background-color: red;
    box-shadow: none;
    height: 50px;
    width: 60px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    right: 0;
    font-size: 20px;
    color: white;
    border: none;
    bottom: 50px;
}

.page-v-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 800px;
    margin: 0 auto;
}

.v-cards {
    width: 100%;
    height: 48%;
}

.v-cards:last-child {
    display: flex;
    justify-content: space-between;
}

.v-card, .v-card-bulk {
    background-size: cover;
    background-color: grey;
    height: 100%;
}

.page-v-cards .v-cards .v-card:first-child {
    width: 34%;
}

.page-v-cards .v-cards .v-card:last-child {
    width: 64%;
}

.imgs-gallery {
    /*height: 200px;*/
    margin-top: 30px;
    margin-bottom: -55px;
}

.imgs-gallery ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.imgs-gallery li {
    display: inline-block;
    /*width: 240px;*/
    /*height: 200px;*/
    /*background-color: grey;*/
}

.imgs-gallery li img {
    /*height: 200px;*/
    cursor: pointer;
}

/*.imgs-gallery li:not(:last-child) {*/
/*margin-left: 1px;*/
/*}*/

/*campaign page*/

/*.columns .column.main {*/
/*padding-bottom: 0;*/
/*}*/

/*.widget.block.block-static-block {*/
/*margin-top: 70px;*/
/*}*/

/*product item*/
/*.page-products .products-grid .item.product.product-item:nth-child(4n+1) {*/
/*margin-left: calc;*/
/*}*/

.page-main .column.main .products-grid li.product-item:nth-child(3n+1) {
    margin-left: 0;
}

.page-main .column.main .products-grid li.product-item {
    margin-left: calc((100% - 3 * 24.7%) / 2);
}

.product-item .swatch-option {
    display: none;
}

.product-item .swatch-option.color {
    display: initial;
}

.list .swatch-attribute-options {
    display: flex;
    justify-content: center;
}

/*grid continue*/
/*.block.widget .products-grid .product-item {*/

/*}*/

/*product details*/
div.swatch-option.text {
    padding: 0 8px;
}

.product-reviews-summary {
    height: 25px;
    margin-bottom: 0;
    display: inline-block;
}

.list .product-item .price-box {
    margin: 0;
    display: inline-block;
    vertical-align: -4px;

}

.list .products.wrapper.grid.products-grid .product-reviews-summary.short {
    margin-right: 10px;
    border-right: 1px solid #cbc3c3;
    padding-right: 10px;
}

/*star color */
.rating-summary .rating-result > span::before {
    color: rgba(247, 208, 87);
}

.product-reviews-summary {
    /*display: none;*/
}

strong.product.name.product-item-name {
    padding-bottom: 0 !important;
}

.product-info-main button {
    background-color: #e70012 !important;
    color: white !important;
    border-radius: 23px !important;
}

.product-options-bottom button:hover {
    background-color: #8d131c !important;
}

.product-info-price .price {
    color: #e70012 !important;
}

.swatch-option.color {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    min-width: initial;
}

body .swatch-option.color {
    padding: 0;
    border: none;
}

body .swatch-option.color:not(:disabled):hover {
    outline: none;
    /*-moz-outline-radius: 10px;*/
    border: none !important;
}

/*review */
.product-item .product-reviews-summary .reviews-actions {
    display: none;
}

a.product-item-link {
    height: 40px;
}

.product-item-actions .actions-primary {
    display: none;
}

/*.product-item-name {*/
/*height: 40px;*/
/*line-height: 20px;*/
/*overflow: hidden;*/
/*!*text-overflow: ellipsis;*!*/
/*}*/

.product-item-name {
    position: relative;
    line-height: 20px;
    /*max-height: 40px;*/
    height: 40px;
    overflow: hidden;
}

.product-item-name.p-i-n::after {
    content: "...";
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 40px;
    /*background: -webkit-linear-gradient(left, transparent, #fff 55%);*/
    /*background: -o-linear-gradient(right, transparent, #fff 55%);*/
    /*background: -moz-linear-gradient(right, transparent, #fff 55%);*/
    /*background: linear-gradient(to right, transparent, #fff 55%);*/
}

/*footer-right style*/

.page-footer {
    height: 300px;
    margin-top: 0;
}

.footer.content {
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
}

ul.footer.links {
    margin-top: 64px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    border-radius: 6px;
}

.page-wrapper small.copyright {
    background-color: #333;
}

.fieldset.login #signUp > a {
    text-transform: capitalize;
}

/*after get a link by email to reset password*/
.login-container .fieldset > .field > .control {
    width: 100% !important;
}

/*product list page*/
.product-item-details {
    text-align: center;
}