/*global-setting*/

body {
    color: grey;
}

* {
    margin: 0;
    padding: 0;
}

/*header*/

/*div.section-items.nav-sections-items:nth-child(2) {*/
    /*max-width: 1280px;*/
    /*margin: 0 auto;*/
/*}*/

.header.panel > .header.links > li.customer-welcome {
    display: none;
}


div.sections.nav-sections {
    background-color: rgba(255,255,255,0);
    margin-bottom: 0;
    z-index: 3;
}

div.section-items.nav-sections-items {
    margin-top: 20px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

div.section-item-content.nav-sections-item-content {
    display: flex !important;
    align-items: center;
}


div.panel.header {
    display: flex;
    align-items: center;
    height: 50px;
    color: white;
}

.page-header {
    position: fixed;
    width: 100%;
    background-color: #8d131c;
    z-index: 4;
}

/*main content*/

main.page-main {
    margin-top: 150px;
    /*max-width: 1920px;*/
    padding: 0;
}


/*cms widget 1byOne-home-page*/

.block-static-block {
    max-width: 1280px;
    margin: 0 auto;
}

.page-cards-container {
    margin-top: 33px;
    width: 100%;
}

.page-h-cards ul {
    /*in order to show shadow-bottom , add 10px to height , less 10px to margin-bottom*/
    padding: 0;
    height: 210px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 50px;
}

.page-h-cards ul li {
    background-color: grey;
    width: 400px;
    box-shadow: 0 3px 8px 0px rgba(0,0,0,0.25);
}

.page-v-cards ul{
    padding: 0;
    min-height: 930px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.page-v-cards ul li {
    background-color: grey;
    width: 600px;
}

/*campaign page*/
div.columns {

}

.widget.block.block-static-block {
    margin-top: 70px;
}



/*footer-right style*/



.page-footer {
    height: 379px;
    margin-top: 0;
}

.footer.content {
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
}

ul.footer.links {
    margin-top: 64px;
}
/*.follow {*/
    /*float: right;*/
    /*position: relative;*/
    /*width: 34%;*/
    /*right: -34%;*/
    /*top: 45px;*/
/*}*/

/*.follow p {*/
    /*color: #cfcfcf;*/
    /*margin-bottom: 0;*/
    /*font-size: 12px;*/
/*}*/

/*.follow a {*/
    /*background: #cfcfcf;*/
    /*!* padding: 5px; *!*/
    /*margin-right: 10px;*/
    /*border-radius: 50%;*/
    /*display: inline-block;*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*line-height: 30px;*/
    /*text-align: center;*/
/*}*/

/*.follow a.facebook:hover {*/
    /*background: #4267b2*/
/*}*/

/*.follow a.twitter:hover {*/
    /*background: #50a5e6*/
/*}*/

/*.follow a.youtube:hover {*/
    /*background: #e6231a;*/
/*}*/

/*.follow .link {*/
    /*margin-top: 30px;*/
/*}*/

/*@media screen and (max-width: 767px) {*/
    /*.follow {*/
        /*position: static;*/
        /*float: initial;*/
    /*}    */
/*}*/

/*animation*/

* {
    transition: all 0.1s ease-out;
}

/*scrollBar*/
/*::-webkit-scrollbar {*/
    /*width: 5px;*/
    /*height: 5px;*/
/*}*/
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgba(125,125,125,0.7);
    border-radius: 6px;
}


.page-wrapper small.copyright {
    background-color: grey;
}