/*global-setting*/

body {
    color: grey;
}

* {
    margin: 0;
    padding: 0;
}

#maincontent.page-main {
    max-width: 1200px;
}

/*header*/

/*div.section-items.nav-sections-items:nth-child(2) {*/
/*max-width: 1280px;*/
/*margin: 0 auto;*/
/*}*/

.header.panel > .header.links > li.customer-welcome {
    display: none;
}

div.sections.nav-sections {
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 0;
    z-index: 3;
}

div.section-items.nav-sections-items {
    margin-top: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

div.section-item-content.nav-sections-item-content {
    display: flex !important;
    align-items: initial;
}

div.panel.header {
    display: flex;
    align-items: center;
    height: 34px;
    color: white;
    justify-content: flex-end;
}

.page-header {
    position: fixed;
    width: 100%;
    /*background-color: #8d131c;*/
    background-color: #333;
    z-index: 4;
    top: 0;
}

#page-title-wrapper {
    font-size: 20px;
}

.greet.welcome span {
    color: white;
    font-size: 12px;
}


.page-footer .footer.content {
    max-width: 1200px;
}

@media screen and (max-width: 767px) {
    .block.block-search {
        margin-top: 0;
    }

    #search_mini_form #searchInput {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .block-search .label {
        order: 2;
    }

    .block-search .label::before {
        color: white;
        font-size: 16px;
        cursor: pointer;
    }

    .block-search .control {
        border-top: none;
        margin: 5px;
    }

    .page-header {
        border-bottom: none !important;
    }

    .small-menu {
        width: 20px;
        height: 20px;
        background-size: cover;
        cursor: pointer;
        position: absolute;
        left: 20px;
    }

    .menu-image {
        display: none;
    }

    /*strong.logo {*/
    /*display: none;*/
    /*}*/
    /*#store.links {*/
    /*display: none;*/
    /*}*/
    .sections.nav-sections {
        display: none;
    }

    .nav-sections-item-content {
        width: 0;
    }

    .nav-sections {
        overflow: initial;
        /*left: initial;*/
    }

    .section-item-title.nav-sections-item-title.active {
        display: none;
    }

    .section-item-title .nav-sections-item-title {
        display: none;
    }

    #store\.links {
        display: none !important;
    }

    .navigation ul.top-menu {
        flex-direction: column;
        margin-left: 0;
        margin-top: 0;
    }

    nav.navigation {
        position: fixed;
        top: 34px;
        left: 0;
        width: 100%;
    }

    nav.navigation * {
        transition: all ease 1s;
    }

    .top-menu .top-menu-wrapper {
        background-color: #8d131c;
        display: flex;
        flex-direction: row;
        margin-right: 0;
    }

    .top-menu-wrapper > li {
        width: 30%;
    }

    .top-menu-wrapper > .menu-info {
        width: 60%;
    }

    .top-menu li a {
        color: white !important;
        padding-right: 15px;
    }

    nav .top-menu li a:hover {
        background-color: #6e1018;
        color: white !important;
    }

    .top-menu-wrapper .menu-info {
        top: 0;
        left: 0;
        position: initial;
    }

    .menu-info-cover {
        display: none !important;
    }

    .page-h-cards {
        flex-direction: column;
    }

    .page-h-cards .page-h-card {
        max-width: 384px;
        margin: 10px auto;
        margin-top: 18px;
    }

    .page-footer {
        background-color: black;
        height: initial !important;
    }

    .menu-info .Brand-container .Brand-title {
        padding-left: 15px;
        color: #8d131c;
        background-color: #fffc;
        border-top: none;
    }

    .menu-info .Brand-container {
        width: 70%;
        left: 30%;
    }

    .menu-info .Brand-container .Brand-content {
        display: flex;
        flex-wrap: wrap;
    }

    .menu-info .Brand-container .Brand-content a {
        width: initial;
        color: white;
        margin-right: 15px;
    }
}

@media screen and (max-width: 525px) {

    .account.newsletter-manage-index.page-layout-2columns-left #maincontent {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .account.customer-account-edit.page-layout-2columns-left #maincontent {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 0;
        margin-bottom: 20px;
    }

    /*account index page */
    .account.customer-account-index.page-layout-2columns-left #maincontent {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 0;
        margin-bottom: 20px;
    }

    /*address edit page*/

    .account.customer-address-form.page-layout-2columns-left #maincontent{
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 0;
        margin-bottom: 20px;
    }


    /*search result page */
    .page-products.catalogsearch-result-index.page-layout-2columns-left #maincontent {
        padding: 20px;
    }

    /*404 page */
    .cms-no-route.cms-noroute-index.page-layout-2columns-right #maincontent {
        padding: 20px;
    }

    .cms-no-route.cms-noroute-index.page-layout-2columns-right .column.main ul.disc {
        list-style: none;
    }

    /*infrastructrue*/
    main#maincontent.page-main {
        margin-top: 34px;
    }

    .page-footer .footer.content {
        display: block;
    }

    .footer-links {
        /*justify-content: space-around;*/
        margin-bottom: 20px;
    }

    .top-menu .menu-info .submenu {
        border-top: 1px solid white;
        margin-right: 0;
        width: 100%;
        display: initial;
        background-color: #777070e6;
    }

    .block.newsletter {
        padding-bottom: 20px;
        margin-bottom: initial;
    }

    .top-menu-wrapper {
        display: block !important;
    }

    .top-menu-wrapper li, .top-menu-wrapper .menu-info {
        width: 100%;
    }

    .navigation ul.top-menu {
        max-height: 300px;
        overflow: scroll;
    }

    .columns .main .owl-carousel-container {
        margin-top: 0;
    }

    .owl-carousel .owl-dots {
        display: none;
    }

    .owl-carousel .owl-img-addon {
        margin-top: 20px;
        position: initial;
        text-align: center;
        color: #333 !important;
    }

    /*page support*/
    .columns .catalog-panel {
        width: initial;
        padding: 0;
    }

    .catalog-panel .catalog-panel-blank {
        display: none;
    }

    .catalog-panel .catalog-panel-background {
        top: 34px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 0;
        overflow-x: hidden;
    }

    .catalog-panel .catalog-panel-background img {
        position: initial;
        transform: scale(-2, 2);
        margin-bottom: 20px;
    }

    .catalog-panel .catalog-panel-background h2 {
        position: initial;
        font-size: initial;
        margin-bottom: 0;
    }

    .catalog-panel .input-group input[type="text"] {
        font-size: 10px;
        border-radius: 15px;
    }

    .catalog-panel .input-group input[type="button"] {
        font-size: 10px;
        border-radius: 15px;
    }

    .catalog-panel .catalog-panel-background br {
        display: none;
    }

    .catalog-panel .catalog-panel-background .input-group {
        position: initial;
        margin-top: 10px;
        width: 70%;
        height: 30px;
        margin-bottom: 20px;
    }

    /*warranty page */
    .warranty .warranty-blank {
        display: none;
    }

    .warranty .warranty-back {
        top: 34px;
    }

    .warranty .warranty-back h2 {
        display: none;
    }

    .warranty .warranty-back {
        transform: scale(2);
    }

    .columns .warranty-container {
        margin-top: 100px;
        width: initial;
    }

    /*.widget.block.block-static-block .page-cards-container {*/
    /*margin-top: 20px;*/
    /*}*/
    .main .catalog-panel .main {
        margin-top: 160px;
    }



    /*homepage*/
    .page-cards-container div.page-cards-title h1 {
        margin-bottom: 20px;
    }

    .owl-img-addon p {
        display: none;
    }

    .owl-carousel-container .owl-img-addon button {
        width: 40%;
        height: 20px;
        font-size: 8px;
        line-height: 8px;
        border-radius: 10px;
    }

    .menu-info .Brand-container {
        position: initial;
        background-color: #777070e6;
    }

    .top-menu .menu-info .submenu ul {
        margin-right: 0;
    }

    .menu-info.active {
        display: none !important;
    }

    .menu-info.force-active {
        display: flex;
    }

    /*product list */
    .page-main .column.main .products-grid .items li.product-item {
        margin-left: 0;
    }

    .column.main .product-item {
        /*padding-left: 15px;*/
        /*padding-right: 15px;*/
    }

    .page-with-filter .toolbar-amount {
        padding-left: 10px;
    }

    strong.product.name.product-item-name {
        padding: 0 20px;
    }

    .column.main .product-items .product-item {
        padding-left: initial;
    }

    .filter .filter-title strong {
        top: 30px;
        left: 10px;
    }

    .toolbar .toolbar-sorter.sorter {
        top: 30px;
    }

}

.account.customer-account-index.page-layout-2columns-left .block-title .action.edit {
    display: none;
}

.account.newsletter-manage-index.page-layout-2columns-left .form.form-newsletter-manage .actions-toolbar{
    width: 40%;
}

.account.newsletter-manage-index.page-layout-2columns-left .form.form-newsletter-manage .actions-toolbar button {
    width: 100%;
    border-radius: 16px;
    background-color: #e70012;
    border: none;
}

.account.newsletter-manage-index.page-layout-2columns-left .form.form-newsletter-manage .actions-toolbar .primary {
    width: 100%;
}


.account.customer-address-form.page-layout-2columns-left #form-validate input, .account.customer-address-form.page-layout-2columns-left #form-validate select{
    border-radius: 16px;
}

.account.customer-address-form.page-layout-2columns-left #form-validate .actions-toolbar {
    width: 48%;
    height: 32px;
}

.account.customer-address-form.page-layout-2columns-left #form-validate .actions-toolbar .primary{
    width: 100%;
    height: 32px;
    border-radius: 16px;
    background-color: #e70012;
    border: none;
    font-size: 1.4rem;
    line-height: 0px;
}

/*.block-search .label::before {*/
/*color: initial;*/
/*}*/

/*main content*/

main.page-main {
    margin-top: 114px;
    /*max-width: 1920px;*/
    padding: 0;
}

/*cms widget 1byOne-home-page*/

.block-static-block {
    max-width: 1280px;
    margin: 0 auto;
}

.page-cards-container {
    margin-top: 33px;
    width: 100%;
}

.page-h-cards {
    /*in order to show shadow-bottom , add 10px to height , less 10px to margin-bottom*/
    padding: 0;
    /*height: 210px;*/
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 50px;
}

.page-h-cards > div {
    /*background-color: grey;*/
    /*width: 400px;*/
    /*box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.1);*/
    cursor: pointer;
}

.page-h-cards > div:hover {
    box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.25);
}

.page-cards-container div.page-cards-title {
    display: flex;
    justify-content: center;
}

div.page-cards-title h1 {
    margin: 20px 0 70px 0;
    border-bottom: 2px solid red;
}

.page-h-card {
    max-width: 384px;
    height: 378px;
    background-color: white;
    position: relative;

}

.page-h-card > div {
    height: 70%;
    background-color: #f2f2f2;
}

.page-h-card h1 {
    font-size: 18px;
    color: red;
    margin: 8px;
    margin-top: 14px;
    font-weight: bold;
}

.page-h-card p {
    font-size: 12px;
    width: 80%;
    margin: 8px;
}

.page-h-card button {
    position: absolute;
    background-color: red;
    box-shadow: none;
    height: 50px;
    width: 60px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    right: 0;
    font-size: 20px;
    color: white;
    border: none;
    bottom: 50px;
}

.page-v-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
    /**
    set image maximum
    */
    max-height: 822px;
}

.v-cards {
    width: 100%;
    height: 48%;
}

.v-cards:last-child {
    display: flex;
    justify-content: space-between;
}

.v-card, .v-card-bulk {
    background-size: cover;
    /**
    give image freedom
    */
    /*height: 100%;*/
    margin-bottom: 1%;
}

.page-v-cards .v-cards .v-card:first-child {
    width: 34%;
    overflow: hidden;
}

.page-v-cards .v-cards .v-card:first-child img {
    width: 100%;
    height: auto;
    transform: scale(1.1);
}

.page-v-cards .v-cards .v-card:last-child {
    width: 65%;
    overflow: hidden;
}

.page-v-cards .v-cards .v-card:last-child img {
    width: 100%;
    height: auto;
    transform: scale(1.1);
}

.imgs-gallery {
    /*height: 200px;*/
    margin-top: 30px;
    margin-bottom: -40px;
}

.imgs-gallery ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    /*transition: all .3s;*/
}

.imgs-gallery li {
    display: inline-block;
    overflow: hidden;
    margin-bottom: 0;
    /*remove gost node*/
    font-size: 0;
    /*width: 240px;*/
    /*height: 200px;*/
    /*background-color: grey;*/
}

.imgs-gallery li img {
    /*height: 200px;*/
    cursor: pointer;
    transition: all .3s;
}

.imgs-gallery li img:hover {
    transform: scale(1.2);

}

/*.imgs-gallery li:not(:last-child) {*/
/*margin-left: 1px;*/
/*}*/

/*campaign page*/

/*.columns .column.main {*/
/*padding-bottom: 0;*/
/*}*/

/*.widget.block.block-static-block {*/
/*margin-top: 70px;*/
/*}*/

/*product item*/
/*.page-products .products-grid .item.product.product-item:nth-child(4n+1) {*/
/*margin-left: calc;*/
/*}*/

.page-main .column.main .products-grid li.product-item:nth-child(3n+1) {
    margin-left: 0;
}

.page-main .column.main .products-grid li.product-item {
    margin-left: calc((100% - 3 * 24.7%) / 2);
}

.product-item .swatch-option {
    display: none;
}

.product-item .swatch-option.color {
    display: initial;
}

.list .swatch-attribute-options {
    display: flex;
    justify-content: center;
}

.swatch-option-tooltip {
    display: none !important;
}

/*grid continue*/
/*.block.widget .products-grid .product-item {*/

/*}*/

/*product details*/
div.swatch-option.text {
    padding: 0 8px;
}

.page-title-wrapper.product h1.page-title {
    font-size: 20px;
    line-height: 1.4em;
    font-weight: 400;
}

.page-layout-1column .main .product.media {
    width: 50%;
}

.page-layout-1column .main .product-info-main {
    width: 50%;
}

.product-reviews-summary {
    height: 25px;
    margin-bottom: 0;
    display: inline-block;
}

.list .product-item .price-box {
    margin: 0;
    display: inline-block;
    vertical-align: -4px;

}

.list .products.wrapper.grid.products-grid .product-reviews-summary.short {
    margin-right: 10px;
    border-right: 1px solid #cbc3c3;
    padding-right: 10px;
}

/*star color */
.rating-summary .rating-result > span::before {
    color: rgba(247, 208, 87);
}

.product-reviews-summary {
    /*display: none;*/
}

strong.product.name.product-item-name {
    padding-bottom: 0 !important;
}

.product-info-main button {
    background-color: #e70012 !important;
    color: white !important;
    border-radius: 23px !important;
}

.product-options-bottom button:hover {
    background-color: #8d131c !important;
}

.product-info-price .price {
    color: #e70012 !important;
}

.swatch-option.color {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    min-width: initial;
}

body .swatch-option.color {
    padding: 0;
    /*border: none;*/
    border: none;
    outline: none;
}

body .swatch-option.color:not(:disabled):hover {
    outline: none;
    /*-moz-outline-radius: 10px;*/
    /*border: none !important;*/
    border: none;
}

body .swatch-option.color[aria-label="White"] {
    border: 1px solid #333;
    box-sizing: border-box;
}

body .swatch-option.color[aria-label="White"]:hover {
    border: 1px solid #333;
    box-sizing: border-box;
}

/*review */
.product-item .product-reviews-summary .reviews-actions {
    display: none;
}

a.product-item-link {
    height: 40px;
}

.product-item-actions .actions-primary {
    display: none;
}

/*.product-item-name {*/
/*height: 40px;*/
/*line-height: 20px;*/
/*overflow: hidden;*/
/*!*text-overflow: ellipsis;*!*/
/*}*/

.product-item-name {
    position: relative;
    line-height: 20px;
    /*max-height: 40px;*/
    height: 40px;
    overflow: hidden;
}

.product-item-name.p-i-n::after {
    content: "...";
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 40px;
    /*background: -webkit-linear-gradient(left, transparent, #fff 55%);*/
    /*background: -o-linear-gradient(right, transparent, #fff 55%);*/
    /*background: -moz-linear-gradient(right, transparent, #fff 55%);*/
    /*background: linear-gradient(to right, transparent, #fff 55%);*/
}

/*footer-right style*/

.page-footer {
    height: 300px;
    margin-top: 0;
}

.footer.content {
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
}

ul.footer.links {
    margin-top: 64px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    border-radius: 6px;
}

.page-wrapper small.copyright {
    background-color: #333;
}

.fieldset.login #signUp > a {
    text-transform: capitalize;
}

/*after get a link by email to reset password*/
.login-container .fieldset > .field > .control {
    width: 100% !important;
}

/*product list page*/
.product-item-details {
    text-align: center;
}

.product-info-main .action.add {
    display: none;
}

/*search result*/

.search.results .actions-secondary {
    display: none;
}

.account.page-layout-2columns-left .columns .column.main {
    width: 100%;
}
