/* Basic Theme */

/*.owl-nav, .owl-dots {*/
    /*-webkit-tap-highlight-color: transparent*/
/*}*/
.owl-nav [class*=owl-] {
    color: #fff;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #d6d6d6;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}
.owl-nav [class*=owl-]:hover {
    background: #869791;
    color: #fff;
    text-decoration: none
}
.owl-nav .disabled {
    opacity: .5;
    cursor: default
}
.owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    /* display: inline */
}
.owl-dots .owl-dot span {
    cursor: pointer;
    color: white;
    width: 14px;
    height: 14px;
    margin: 5px 7px;
    background: none;
    display: block;
    font-size: 14px;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    /* -ms-transition: opacity 200ms ease; */
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid white;
    text-align: center;
    background-size: cover;
    /*background: white;*/
}

.owl-dots .owl-dot.active span {
    /*background: white;*/
    background-size: cover;
    border: none;
    width: 16px;
    height: 16px;
}

@media screen and (max-width: 767px) {
    .owl-dots .owl-dot span {
        width: 10px;
        height: 10px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
    }
    .owl-dots .owl-dot.active span {
        width: 12px;
        height: 12px;
    }

}

/*dot absolute position*/

.owl-carousel-container {
    position: relative;
    /*width: 1920px !important;*/
    margin-top: -130px;
    /*height: 45vw;*/
    background-color: white;
}

.owl-dots {
    /*be center in parent node*/
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    /*son node center*/
    display: flex;
    justify-content: center;

    bottom: 10px;
}

.owl-item {
    width: 100%;
    position: relative;
}

.owl-item .item {
    cursor: initial !important;
}

.owl-img-addon {
    position: absolute;
    left: 18vw;
    top: 19vw;
    color: white;
}

.owl-img-addon h1 {
    margin-bottom: 1.2vw;
}

.owl-img-addon p {
    font-size: .8vw;
    margin-bottom: 1.2vw;
}

.owl-img-addon button {
    width: 10vw;
    height: 2vw;
    background-color: #e70012;
    color: white;
    border: none;
    border-radius: 1vw;
    box-shadow: initial;
    font-size: .8vw;
    padding: 0;
    line-height: 2vw;
}

.owl-img-addon button:hover {
    background-color: #8d131c;
}