.block.newsletter {
    color: white;
    margin-top: 0;
}

.block.newsletter h1 strong a {
    color: white;
    text-decoration: none;
}

.block.newsletter h1 strong {
    font-size: 16px;
}

.block.newsletter .field .control::before {
    content: none;
}

.field.newsletter #newsletter {
    border-radius: 16px;
    background: none;
    color: white;
}

.field.newsletter #newsletter::-webkit-input-placeholder{
    color:white;
}
.field.newsletter #newsletter::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:white;
}
.field.newsletter #newsletter:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:white;
}
.field.newsletter #newsletter:-ms-input-placeholder{  /* Internet Explorer 10-11 */
    color:white;
}

/*.field.newsletter #newsletter:hover {*/
/*background-color: grey;*/
/*}*/

.form.subscribe .subscribe.primary {
    border-radius: 16px;
    background: #e70012;
    color: white;
    padding: 6px 15px;
    font-size: 14px;
    border: none;
}

.form.subscribe .subscribe.primary:hover {
    background-color: #8d131c;
}

.block.newsletter > h1 a {
    font-size: 16px;
    color: white;
    padding-bottom: 20px;
}

.block.newsletter > h1 a:hover {
    color: #8d131c;
}

.block.newsletter > h1 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    margin-bottom: 20px;
}

#newsletter-validate-detail {
    width: 80%;
    font-size: 14px;
    display: flex;
    align-items: center;
}

#newsletter {
    padding-left: 10px;
    margin-right: 20px;
}

.block.newsletter .field {
    margin-right: 20px;
}

.faq-cover {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: none;
}

.faq-info {
    position: relative;
    background-color: white;
    height: 600px;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 200px;
    color: grey;
    /*padding: 40px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 3px #747777;
    /*overflow: scroll;*/
}

.faq-info > span {
    position: absolute;
    top: 3px;
    right: 8px;
    cursor: pointer;
    font-size: 20px;
    color: grey;
}


.faq-info .question{
    font-weight: bold;
    font-size: 16px;
    margin: 20px 0;
    /*margin-bottom: 15px;*/
}

.faq-info .faq-block {
    background-color: #c4c4c4;
    color: grey;
    padding: 15px;
    width: 100%;
}

.newsletter-title {
    font-size: 16px;
}

.block.newsletter p {
    font-size: 12px;
    display: block !important;
}

.block.newsletter form {
    margin: 15px 0;
}

.socials a {
    display: inline-block;
}

.socials {
    list-style: none;
}

.socials .iconfont {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-size: cover;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}