/*.show-mode {*/
    /*background-color: grey;*/
    /*padding-right: 0px;*/
    /*!*ainmation prepare*!*/
    /*width: 0;*/
    /*float: right;*/
    /*visibility: hidden;*/
    /*overflow: hidden;*/
/*}*/

/*button[type="submit"].action.search*/

#searchBtn {
    color: white;
    cursor: pointer !important;
    right: 0;
    /*pointer-events: initial !important;*/
    opacity: 1;
    margin-right: 10px;
    margin-left: 10px;

}

#searchBtn::before {
    color: #fff9db;
    cursor: pointer;
    height: 26px;
    line-height: 26px;
}

#searchBtn.changeBefore::before {
    color: grey;
}

#search {
    border-radius: 16px;
    box-shadow: initial;
    height: 26px;
    line-height: 26px;
}

/*#search:focus {*/
    /*box-shadow: 0 0 5px 1px white;*/
/*}*/

.block-search input {
    /*padding-right: 0px;*/
    /*!*ainmation prepare*!*/
    /*width: 0;*/
    /*float: right;*/
    visibility: hidden;
    max-width: 400px;
}

div.block.block-search {
    width: 28px;
    padding-left: initial;
    margin-left: 10px;
}

.search-autocomplete ul:not(:empty) {
    color: #333;
}

@media screen and (max-width: 525px){
    .block-search .label:hover:before {
        color: white !important;
    }

    .control #search {
        width: 190px;
    }

    .block-search .label.active {
        display: none;
    }
}