
.feedback-form {
    width: 50%;
    margin: 0 auto;
}

.feedback-container {
    background-color: white;
    width: 1149px;
    margin: 10px auto;
    padding: 20px;
    color: grey;
    margin-top: 270px;
    margin-bottom: -40px;
    padding-bottom: 60px;
}

.feedback-container select, .feedback-container .feedback-form input {
    border-radius: 16px;
}

.feedback-blank {
    width: 100%;
    position: absolute;
    top: 34px;
    background-color: white;
    z-index: -1;
    left: 0;
    height: 80px;
}

.feedback-back {
    width: 100%;
    position: absolute;
    top: 114px;
    background-color: #f9f8f4;
    z-index: -1;
    left: 0;
    height: 270px;
}

.feedback-back img {
    margin: 0 auto;
    display: block;
    height: 270px;
}

.feedback-back h2 {
    position: absolute;
    font-size: 30px;
    top: 70px;
    left: 400px;
}

.feedback-form-basic-info-container > * {
    display: inline-block;
    width: 100%;
    margin: 20px 0;
}

.feedback-form-basic-info-container {
    display: flex;
    justify-content: space-between;
}

.feedback-form-action-control-container {
    margin-top: ;
}

.feedback-form-action-control-container span{
    color: red;
}

.feedback-form-basic-info-container input , .feedback-form-basic-info-container select{
    border-radius: 5px;
}



.feedback-pwd1, .feedback-pwd2 {
    display: none;
}


div.form-action-btn button {
    border: none;
    border-radius: 16px;
    background-color: #e70012;
    color: white;
    border: none;
    width: 100%;
}

div.form-action-btn button:hover {
    background-color:  #8d131c;
}

.form-action-btn {
    margin-top: 20px;
}

.feedback-hint {
    color: red;
}

.feedback-form > * {
    /*margin: 20px 0;*/
}

.feedback-selection {
    margin: 20px 0;
}