.banner {
    background: url(http://pic.qiantucdn.com/58pic/27/12/70/03358PICdUp_1024.jpg!/fw/780/watermark/url/L3dhdGVybWFyay12MS4zLnBuZw==/align/center/crop/0x1009a0a0) no-repeat 0 0;
    background-size: cover;
    text-align: center;
    padding: 60px 15px 0 15px;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-bottom: 35px;
}

.banner > div {
    width: calc((100% / 3) - 3px);
    float: left;
    text-align: center;
    margin-bottom: 60px;
}

.refund-blank {
    width: 100%;
    position: absolute;
    top: 34px;
    background-color: white;
    z-index: -1;
    left: 0;
    height: 80px;
}

.refund-back {
    width: 100%;
    position: absolute;
    top: 114px;
    background-color: #f3eeea;
    z-index: -1;
    left: 0;
    height: 270px;
}

.banner > div:nth-of-type(2n) {
    border-left: solid white 1.5px;
    border-right: solid white 1.5px
}

.banner img {
    width: 85px;
    margin-bottom: 30px
}

.banner p {
    color: white
}

@media screen and (max-width: 767px) {
    .banner > div {
        width: 100%;
    }

    .banner > div:nth-of-type(2n) {
        border-left: none;
        border-right: none
    }
}

.refund-nav {
    height: 40px;
    background: #e9e9e9;
    float: left;
    width: 100%;
    margin: 30px 0;
}

.refund-nav > div{
    height: 100%;
    line-height: 40px;
    font-size: 16px;
    color: black;
    background: transparent;
    padding: 0 30px;
    float: left;
    position: relative;
}

.refund-nav > div.active {
    color: white;
    background: #00a7e1;
}

.refund-nav > div.active:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: #00a7e1;
    position: absolute;
    bottom: -5px;
    left: 50%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.add-address-btn {
    display: none
}

.add-address-btn.active {
    display: block
}

.address {
    display: none;
}

.address.active {
    display: block
}

.form-address {
    display: none;
}

div.form-action-btn {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
}


div.form-action-btn button {
    border: none;
    border-radius: 16px;
    background-color:  #e70012;
    color: white;
    width: 100%;
}

div.form-action-btn button:hover {
    background-color: #8d131c;
}

.refund-pwd1 , .refund-pwd2 {
    display: none;
}

.refund-container {
    background-color: white;
    width: 1149px;
    margin: 10px auto;
    padding: 20px;
    color: grey;
    margin-top: 270px;
    margin-bottom: -40px;
    padding-bottom: 60px;
}

.refund-container input {
    border-radius: 16px;
}

.refund-pwd1, .refund-pwd2 {
    margin: 15px 0;
}

.refund-container img {
    height: 270px;
}

.refund-container h2 {
    position: absolute;
    top: 90px;
    right: 400px;
    font-size: 35px;
}

.refund-form {
    width: 50%;
}

.refund-form-action-control-container span {
    color: red;
}

.form-group {
    margin: 15px 0;
}

.form-group input, .form-group select {
    border-radius: 16px;
}