
.sections {
    background-color: white;
}

.column.main {
    /*background-color: blue;*/
    padding-top: 20px;
}

.column.main form[action="/refound"] {
    max-width: 800px;
    margin: 0 auto;
    color: black;
}

.catalog-panel .catalog-header form {
    text-align: center;
}

.catalog-panel {
    background-color: white;
    width: 1149px;
    margin: 10px auto;
    padding: 20px;
    color: grey;
    margin-top: 220px;
    margin-bottom: -40px;
}

.input-group {
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    width: 50%;
}
.input-group input[type="text"] {
    height: inherit;
    border-radius: 16px;
    padding-left: 12px;
}
.input-group input[type="button"] {
    width: 30%;
    height: inherit;
    border-radius: 16px;
    background-color: #e70012;
    color: white;
    height: inherit;
    font-size: 14px;
    margin-left: -50px;
    border: 2px solid #e70012;
}

.input-group input[type="text"]:focus {
    box-shadow: none;
}

.input-group input[type="button"]:hover {
    background-color: #8d131c;
    border: 2px solid #8d131c;
}

.catalog-panel .main {
    margin-top: 20px;
    height: 70%;
}

.catalog-panel .footer .pagination {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

div.flex-container {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

div.flex-item {
    flex-grow: 0;
    flex-shrink: 0;
    width: 23%;
    height: 45%;
    background-color: white;
    position: relative;
}

div.flex-item .post {
    display: flex;
    color: grey;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    flex-direction: column;
    cursor: pointer;
}

div.flex-item .post img {
    height: 100px;
    width: 100px;
    margin: 20px;
}

div.flex-item .post h3 {
    font-size: 15px;
    height: 40px;
    text-align: center;
}

div.flex-item .post-cover {
    position: absolute;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
    top: 0;
    left: 0;
    height: 100%;
    align-items: left;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px;
    color: #e70012;
    display: none;
    border: 1px solid #e70012;
}

div.flex-item .post-cover span {
    position: absolute;
    top: 5px;
    right: 6px;
    cursor: pointer;
    color: grey;
}

div.flex-item .post-cover a {
    font-size: 15px;
    color: #e70012;
    margin-bottom: 15px;
}

div.flex-item .post-cover h3 {
    border-bottom: white 1px solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    width: 100%;
}

div.flex-item .post-cover ul {
    list-style: none;
}

div.flex-item .post-cover li {
    margin-bottom: 0;
}

div.flex-item .post-cover li a {
    font-size: 10px;
}

/*overwrite pagination style*/

.first-btn {
    display: none;
}

.last-btn {
    display: none;
}

.pagination-overall {
    border: none;
}

#pagination-demo a {
    border: none;
    color: grey;
}

.catalog-panel-blank {
    position: absolute;
    width: 100%;
    height: 80px;
    top: 50px;
    background-color: white;
    left: 0;
    z-index: -1;
}

.catalog-panel-background {
    position: absolute;
    width: 100%;
    height: 270px;
    background-color: #f3eeea;
    top: 130px;
    left: 0;
    z-index: -1;
}

.catalog-panel-background img {
    display: block;
    margin: 0 auto;
}

.flex-item img {
    background-size: cover;
    width: 100%;
}


/*global color*/
body {
    background-color: #f3f2f0;
}

/*404*/

.catalog-panel-hint {
    text-align: center;
    margin-bottom: 40px;
}

.catalog-panel-hint span {
    color: #e70012;
    font-size: 16px;
    font-weight: bold;
}