
.sections {
    background-color: white;
}

.column.main {
    background-color: blue;
    padding-top: 20px;
}

.column.main form[action="/refound"] {
    max-width: 800px;
    margin: 0 auto;
    color: black;
}

.catalog-panel {
    background-color: white;
    height: 700px;
    width: 800px;
    margin: 10px auto;
    padding: 20px;
    color: grey;
    /*margin-top: 100px;*/
}

.input-group {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}
.input-group input[type="text"] {
    width: 60%;
    height: inherit;
    border-radius: 5px;
}
.input-group input[type="button"] {
    width: 30%;
    height: inherit;
    border-radius: 5px;
    background-color: #38bcdc;
    color: white;
    border: none;
    height: inherit;
}

.catalog-panel .main {
    margin-top: 20px;
    height: 70%;
    background-color: red;
}

.catalog-panel .footer .pagination {
    display: flex;
    justify-content: center;
}

div.flex-container {
    display: flex;
    background-color: green;
    align-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

div.flex-item {
    flex-grow: 0;
    flex-shrink: 0;
    width: 23%;
    height: 45%;
    background-color: white;
    position: relative;
}

div.flex-item .post {
    display: flex;
    color: grey;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    flex-direction: column;
    cursor: pointer;
}

div.flex-item .post img {
    height: 100px;
    width: 100px;
    margin: 20px;
}

div.flex-item .post h3 {
    font-size: 15px;
}

div.flex-item .post-cover {
    position: absolute;
    z-index: 2;
    background-color: rgba(22, 51, 160, 0.8);
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px;
    color: white;
    display: none;
}

div.flex-item .post-cover span {
    position: absolute;
    top: 5px;
    right: 6px;
    cursor: pointer;
}

div.flex-item .post-cover a {
    font-size: 15px;
    color: white;
    margin-bottom: 15px;
}

div.flex-item .post-cover h3 {
    border-bottom: white 1px solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    width: 100%;
}

div.flex-item .post-cover ul {
    list-style: none;
}

div.flex-item .post-cover li {
    margin-bottom: 0;
}

div.flex-item .post-cover li a {
    font-size: 10px;
}

/*overwrite pagination style*/

.first-btn {
    display: none;
}

.last-btn {
    display: none;
}

.pagination-overall {
    border: none;
}

#pagination-demo a {
    border: none;
}