<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="TouchShop_PowerUser::powerUser" title="Power User" module="TouchShop_PowerUser" sortOrder="10"
             action="power_user/powerUser" resource="TouchShop_PowerUser::powerUser"
             parent="TouchShop_Basic::basic"/>
    </menu>
</config>
