main#maincontent.page-main {
    max-width: 1920px;
    background-size: cover;
}

.account-container {
    position: relative;
    background-color: white;
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    color: grey;
    /*padding: 40px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#signIn a:hover {
    text-decoration: none;
}

#signIn a {
    color: grey;
}

.page.messages {
    margin-top: 30px;
}

.block-title.sign-up-title strong {
    font-weight: 500;
}

.block-title.sign-up-title {
    margin-top: 40px;
}

.account-container .field-name-firstname,.sign-panel .field-name-lastname {
    width: 45%;
}

.account-container .field-name-firstname {
    padding-right: 10%;
}

@media screen and (max-width: 525px){
    #maincontent {
        background-image: none !important;
        padding: 10px;
    }

    .account-container {
        width: initial;
        display: block;
        margin-top: 10px;
        height: 500px;
    }

    .form.password.forget, .form.create.account {
        margin: 0 auto;
        width: 100%;
    }

}